@import "font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: "YekanBakh FaN";
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #110527;
}
input,
textarea {
  font-family: inherit;
}
a {
  cursor: pointer;
}
.footer {
  margin-top: 20rem;
  background: url("./assets/bgFooter.png") no-repeat;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  body,
  html {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: inherit;
  }
}
